<!DOCTYPE html>
<html>
<body>

<h1 title="header">Data integratie blok 10</h1>

<p title="welcome"> Welcome to our application! <br>
    <b>Made by:</b> Carlijn Fransen & Ilse den Brok <br> <b>Date:</b> 23-05-2020 <br>
    <b>Subject:</b> Data integratie <br> <b>Class:</b> Bin-3d</p>

<hr>

<h2 title="upload">Please upload a file</h2>
      <form action = "http://localhost:5000/results" method = "POST"
          enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>


</body>
</html>
